@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200;400;700&display=swap");

body {
  margin: 0;
  height: 100vh;
  font-family: "Poppins";
}
.wrapper {
  overflow-x: hidden;
  position: relative;
}
* {
  box-sizing: border-box;
}

.OneAnimation {
  text-align: center;
  padding-left: 100px;
  padding-top: 200px;
  position: relative;
}
.animate1 {
  width: 299px;
  background-color: #fec5fb;
  color: black;
  border-radius: 5px;
  padding: 12px;
  font-size: 21px;
  font-weight: 700;
  box-shadow: 9px 12px 5px rgb(39 33 33);
  position: absolute;
  top: 100;
  z-index: 1;
}
.animate2 {
  width: 500px;
  background-color: #ff8709;
  color: black;
  border-radius: 5px;
  padding: 12px;
  font-size: 34px;
  font-weight: 800;
  margin-left: 20px;
}

.container {
  display: flex;
  width: 600vw;
  background-color: black;
  color: white;
  .col {
    display: flex;
    gap: 3em;

    p {
      /* color: white; */
      font-size: 44px;
      font-family: system-ui;
      font-weight: 400;
    }
  }

  section {
    width: 20vw;
    /* padding: 5vw 10vw; */
    /* border: 2px solid gold; */
    h1 {
      font-size: 3rem;
      margin: 0;
    }

    p {
      font-size: 1.2rem;
      width: 50vw;
    }

    ul {
      list-style-type: none;
      display: flex;
      gap: 3em;
      width: 100%;
      height: 300px;
      padding: 0;

      li {
        background: white;
        border-radius: 0.3em;
        flex-grow: 1;
      }
    }
  }
}

section {
  height: 100vh;
  /* background-color: black; */
}

.sec1 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.sec1col {
  text-align: left;
  margin-top: 200px;
  font-size: 44px !important;
  font-family: system-ui;
  font-weight: 400;
  color: white !important;
  margin-left: 40px;
}

.sec1b1 {
  /* border: 2px solid green; */
}

.sec1b2 {
  /* border: 2px solid rgb(224, 72, 92); */
}

.sec1-1 {
}

.nice-and {
  background-image: linear-gradient(114.41deg, #0ae448, #abff84);
  width: 320px;
  color: rgb(0, 0, 0);
  padding: 0 40px;
  border-radius: 7px;
  /* font-weight: bolder; */
  font-size: 51px;
  font-weight: 700;
}

.easy {
  border-radius: 0.5rem;
  display: inline-flex;
  color: black;
  font-weight: 700;
  padding: 1rem 2.375rem;
  position: relative;
  z-index: 3;
  background: linear-gradient(153.58deg, #f7bdf8 32.25%, #2f3cc0 92.68%);
  box-shadow: 8px 9px 9px black;
}

.easing {
  border-radius: 0.5rem;
  display: inline-flex;
  color: black;
  font-weight: 700;
  padding: 1rem 2.375rem;
  position: relative;
  z-index: 2;
  background: linear-gradient(153.58deg, #df2810 32.25%, #f39a51 92.68%);
}

.text {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 106px;
  font-weight: 900;
}

.per {
  position: absolute;
}
/* 
.hand{
  border: 2px solid yellow;
  position: absolute;
  z-index: 44;
} */
/* .hand:hover{
  border: 2px solid green;
} */

.to-your {
  width: 420px;
}

.super {
  background-image: linear-gradient(114.41deg, #0ae448, #abff84);
  width: 250px;
  color: rgb(0, 0, 0);
  padding: 0 40px;
  border-radius: 7px;
  /* font-weight: bolder; */
  font-size: 51px;
  font-weight: 700;
  position: absolute;
  transform: rotate(20deg);
}

.pap {
  background-image: linear-gradient(114.41deg, #f136d2, #d972f3);
  width: 500px;
  color: rgb(0, 0, 0);
  padding: 0 40px;
  border-radius: 7px;
  /* font-weight: bolder; */
  font-size: 51px;
  font-weight: 700;
  position: absolute;
  /* transform: rotate(120deg); */
}
.eases-or {
  width: 600px;
}

.border {
  /* border: 2px solid green; */
}

.border-red {
  /* border: 4px solid rgb(253, 25, 25); */
}

.ch {
  background-color: #fec5fb;
  border-radius: 0.5rem;
  color: black;
  display: inline-flex;
  padding: 1rem 1.375rem;
  position: relative;
  z-index: 2;
  padding: 20px 20px;
  width: 368px;
  font-size: 35px;
  font-weight: 900;
  text-align: center;
  height: 100px;
  position: absolute;
  top: 45%;
}
.an {
  background-color: #26e200;
  border-radius: 0.5rem;
  color: black;
  display: inline-flex;
  padding: 1rem 1.375rem;
  position: relative;
  z-index: 2;
  padding: 20px 20px;
  width: 368px;
  font-size: 35px;
  font-weight: 900;
  text-align: center;
  height: 100px;
  position: absolute;
  top: 45%;
}
.sn {
  background-color: #fff021e0;
  border-radius: 0.5rem;
  color: black;
  display: inline-flex;
  padding: 1rem 1.375rem;
  position: relative;
  z-index: 2;
  padding: 20px 20px;
  width: 368px;
  font-size: 35px;
  font-weight: 900;
  text-align: center;
  height: 100px;
  position: absolute;
  top: 45%;
  }

  .snIcon{
    position: absolute;
  top: 45%;

  }


  .ina{
    position: absolute;
    left: 50%;
    top : 45%
  }


  .snap{
    /* border: 2px solid rebeccapurple; */
    width: 100px;
    height: 100px;
    /* position: absolute;
    left: 50%;
    top : 45% */
  }

.snap-1{
  display: flex;
  /* border: 2px solid green; */
  /* top : 45%;
  left: 140%; */
  
}

